body{
    margin: 0;

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

    background-image: url("index-background.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.author{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 240px;
    height: 170px;

    border: 1px solid grey;
    border-radius: 10px;

    margin-top: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title{
    color: #1e3a8a;
    font-size: 52px;
    font-weight: 600;

    margin: 30px 0;
}

.help-title{
    margin-top:220px;
    color: #1e3a8a;
    font-size: 52px;
    font-weight: 600;
}

.index-button {
    width: 160px;
    height: 140px;
    padding: 12px;

    border-radius: 16px;
    border: none;

    font-weight: bold;
    font-size: 30px;

    background: linear-gradient(145deg, cornflowerblue, #e6e9f0);
    color: #1e3a8a;

    cursor: pointer;

    box-shadow:
            10px 10px 20px rgba(0,0,0,0.15),
            -6px -6px 12px rgba(255,255,255,0.8);

    transition: all 0.25s ease;
}

.index-button:hover {
    transform: translateY(-6px);
    box-shadow:
            14px 14px 25px rgba(0,0,0,0.2),
            -6px -6px 12px rgba(255,255,255,0.9);
}

.index-button:active {
    transform: translateY(2px) scale(0.98);
    box-shadow:
            6px 6px 12px rgba(0,0,0,0.15),
            -3px -3px 8px rgba(255,255,255,0.7);
}

.help-button {
    width: 140px;
    height: 100px;
    padding: 12px;

    border-radius: 16px;
    border: none;

    font-weight: bold;
    font-size: 15px;

    background: linear-gradient(145deg, cornflowerblue, #e6e9f0);
    color: #1e3a8a;

    cursor: pointer;

    box-shadow:
            10px 10px 20px rgba(0,0,0,0.15),
            -6px -6px 12px rgba(255,255,255,0.8);

    transition: all 0.25s ease;
}

.help-button:hover {
    transform: translateY(-6px);
    box-shadow:
            14px 14px 25px rgba(0,0,0,0.2),
            -6px -6px 12px rgba(255,255,255,0.9);
}

.help-button:active {
    transform: translateY(2px) scale(0.98);
    box-shadow:
            6px 6px 12px rgba(0,0,0,0.15),
            -3px -3px 8px rgba(255,255,255,0.7);
}

.game-submit-button{
    width: 80px;
    height: 40px;
    padding: 12px;

    border-radius: 16px;
    border: none;

    font-weight: bold;
    font-size: 15px;

    background: linear-gradient(145deg, cornflowerblue, #e6e9f0);
    color: #1e3a8a;

    cursor: pointer;

    box-shadow:
            10px 10px 20px rgba(0,0,0,0.15),
            -6px -6px 12px rgba(255,255,255,0.8);

    transition: all 0.25s ease;
}

.game-submit-button:hover {
    transform: translateY(-6px);
    box-shadow:
            14px 14px 25px rgba(0,0,0,0.2),
            -6px -6px 12px rgba(255,255,255,0.9);
}

.game-submit-button:active {
    transform: translateY(2px) scale(0.98);
    box-shadow:
            6px 6px 12px rgba(0,0,0,0.15),
            -3px -3px 8px rgba(255,255,255,0.7);
}

.game-return-button{
    width: 160px;
    height: 60px;
    padding: 12px;

    border-radius: 16px;
    border: none;

    font-weight: bold;
    font-size: 15px;

    background: linear-gradient(145deg, cornflowerblue, #e6e9f0);
    color: #1e3a8a;

    cursor: pointer;

    box-shadow:
            10px 10px 20px rgba(0,0,0,0.15),
            -6px -6px 12px rgba(255,255,255,0.8);

    transition: all 0.25s ease;
}

.game-return-button:hover {
    transform: translateY(-6px);
    box-shadow:
            14px 14px 25px rgba(0,0,0,0.2),
            -6px -6px 12px rgba(255,255,255,0.9);
}

.game-return-button {
    transform: translateY(2px) scale(0.98);
    box-shadow:
            6px 6px 12px rgba(0,0,0,0.15),
            -3px -3px 8px rgba(255,255,255,0.7);
}



.author{
    color: #e0f2fe;
    margin-top:180px;
}

.help_content{
    margin: 0 auto;
    margin-top: 10px;
    width:280px;
    height:200px;
    border: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 8px;
    line-height: 2.5;
}

.help_HowToPlay{
    width: 520px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    line-height: 1.7;
}

.help_Functions{
    width: 550px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    line-height: 1.7;
}

.br1{
    color:green;
}

.br2{
    color:yellow;
}

.br3{
    color:grey;
}

#legend{
    border:1px solid gray;
    width:200px;
    height:200px;
    margin:auto;
    padding:15px;
    border-radius:10px;
    color: #e0f2fe;
}

.picture_confusion{
    width:150px;
    height:150px;
    background-image: url("confusion-picture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    animation: spin 3s linear infinite;
}

#selectBox {
    width: 320px;
    padding: 14px 18px;

    font-size: 18px;
    font-weight: 600;

    border-radius: 12px;
    border: 2px solid #1e3a8a;

    background: white;
    color: #1e3a8a;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    transition: all 0.25s ease;
}

input {
    width: 120px;
    height: 20px;
    padding: 12px;

    border-radius: 10px;
    border: none;

    font-size: 16px;

    margin-bottom: 15px;
}

.game-text{
    font-size: 24px;
    font-weight: bold;
}

.game-text2{
    color: mediumslateblue;
    font-size: 18px;
    font-weight: bold;
}

.game-text-score{
    font-size: 24px;
    font-weight: bold;
    color: crimson;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



